server:
  port: ${GPC_SERVER_PORT:8080}

logging:
  level:
    com.nhs.adaptors.gpc: DEBUG

management:
  endpoints:
    web:
      base-path: /
      path-mapping.health: healthcheck
      exposure:
        include: info, health, metrics
