<?xml version="1.0" encoding="UTF-8"?>
<COPC_IN000001UK01 xmlns="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <id root="{{messageId}}"/>
    <creationTime value="{{timestamp}}"/>
    <versionCode code="V3NPfIT3.0"/>
    <interactionId extension="COPC_IN000001UK01" root="2.16.840.1.113883.2.1.3.2.4.12"/>
    <processingCode code="P"/>
    <processingModeCode code="T"/>
    <acceptAckCode code="NE"/>
    <communicationFunctionRcv typeCode="RCV">
        <device classCode="DEV" determinerCode="INSTANCE">
            <id extension="{{toAsid}}" root="1.2.826.0.1285.0.2.0.107"/>
        </device>
    </communicationFunctionRcv>
    <communicationFunctionSnd typeCode="SND">
        <device classCode="DEV" determinerCode="INSTANCE">
            <id extension="{{fromAsid}}" root="1.2.826.0.1285.0.2.0.107"/>
        </device>
    </communicationFunctionSnd>
    <ControlActEvent classCode="CACT" moodCode="EVN">
        <author1 typeCode="AUT">
            <AgentSystemSDS classCode="AGNT">
                <agentSystemSDS classCode="DEV" determinerCode="INSTANCE">
                    <id extension="{{fromAsid}}" root="1.2.826.0.1285.0.2.0.107"/>
                </agentSystemSDS>
            </AgentSystemSDS>
        </author1>
        <subject contextConductionInd="false" typeCode="SUBJ">
            <hl7:PayloadInformation classCode="OBS" moodCode="EVN" xmlns="urn:hl7-org:v3" xmlns:gp="urn:nhs:names:services:gp2gp" xmlns:hl7="urn:hl7-org:v3" xmlns:npfitct="template:NPFIT:content" xmlns:npfitlc="NPFIT:HL7:Localisation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="urn:hl7-org:v3 ../../Schemas/COPC_MT000001UK01.xsd urn:nhs:names:services:gp2gp ../../Schemas/GP2GP_LM.xsd">
                <code code="GP2GP_PI" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.202" displayName="GP2GP Payload Information"/>
                <id root="{{messageId}}"/>
                <npfitlc:messageType extension="RCMR_MT000002GB01" root="2.16.840.1.113883.2.1.3.2.4.18.17"/>
                <value>
                    <gp:Gp2gpfragment>
                        <gp:Version>01</gp:Version>
                        <gp:Recipients>
                            <gp:Recipient>{{toOdsCode}}</gp:Recipient>
                        </gp:Recipients>
                        <gp:From>{{fromOdsCode}}</gp:From>
                        <gp:subject>Continue Acknowledgement</gp:subject>
                        <gp:message-id>{{messageId}}</gp:message-id>
                    </gp:Gp2gpfragment>
                </value>
                <pertinentInformation typeCode="PERT">
                    <sequenceNumber value="1"/>
                    <pertinentPayloadBody classCode="OBS" moodCode="EVN">
                        <code code="GP2GP_PB" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.202" displayName="GP2GP Payload Body"/>
                        <id root="{{messageId}}"/>
                        <value>
                            <gp:Gp2gpfragment>
                                <Message type="Message" xmlns="urn:hl7-org:v3">
                                    <id root="{{messageId}}"/>
                                    <code code="0" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.101" displayName="Continue"/>
                                    <creationTime value="{{mcciIN010000UK13creationTime}}"/>
                                    <versionCode code="V3NPfIT3.1.09"/>
                                    <interactionId extension="MCCI_IN010000UK13" root="2.16.840.1.113883.2.1.3.2.4.12"/>
                                    <processingCode code="P"/>
                                    <processingModeCode code="T"/>
                                    <acceptAckCode code="NE"/>
                                    <acknowledgement typeCode="AA">
                                        <acknowledgementDetail typeCode="IF">
                                            <code code="0" codeSystem="2.16.840.1.113883.2.1.3.2.4.17.101" displayName="Continue"/>
                                        </acknowledgementDetail>
                                        <messageRef>
                                            <id root="{{conversationId}}"/>
                                        </messageRef>
                                    </acknowledgement>
                                    <communicationFunctionRcv typecode="RCV">
                                        <device classCode="DEV" determinerCode="INSTANCE">
                                            <id extension="{{toAsid}}" root="1.2.826.0.1285.0.2.0.107"/>
                                        </device>
                                    </communicationFunctionRcv>
                                    <communicationFunctionSnd typeCode="SND">
                                        <device classCode="DEV" determinerCode="INSTANCE">
                                            <id extension="{{fromAsid}}" root="1.2.826.0.1285.0.2.0.107"/>
                                        </device>
                                    </communicationFunctionSnd>
                                </Message>
                                <gp:acknowledgedMessage>
                                    <gp:id root="{{conversationId}}"/>
                                </gp:acknowledgedMessage>
                            </gp:Gp2gpfragment>
                        </value>
                    </pertinentPayloadBody>
                </pertinentInformation>
            </hl7:PayloadInformation>
        </subject>
    </ControlActEvent>
</COPC_IN000001UK01>