<configuration>
    <appender name="TEXT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${PS_LOGGING_FORMAT:-%d{yyyy-MM-dd HH:mm:ss.SSS} Level=%-5level Logger=%logger{36} ConversationId=%X{ConversationId} Thread="%thread" Message="%msg"%n}
            </pattern>
        </encoder>
    </appender>


    <root level="${ROOT_LOGGING_LEVEL:-WARN}">
        <appender-ref ref="TEXT"/>
    </root>

    <logger name="uk.nhs.adaptors.pss.translator" level="${PS_LOGGING_LEVEL:-INFO}" />
    <logger name="uk.nhs.adaptors.connector.service" level="${PS_LOGGING_LEVEL: -INFO}" />
</configuration>